@font-face {
    font-family: google font;
    src: url(./PainterPersonalUseOnly-Br0w.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#car1{
    height: 100px;
    width: 100px;
    background-color: red;
}
#car2{
    position: absolute;         
    height: 200px;
    width: 200px;
    background-color: blue;
}
#car3{
    height: 300px;
    width: 300px;
    background-color: green;
}
#outerbox{
    position: relative;
    height: 500px;
    width: 500px;
    background-color: blueviolet;
}
#innerbox{
    position: absolute;
    left: 40%;
    height: 100px;
    width: 100px;
    background-color: aqua;
}
#bigbox{
    height: 2000px;
    background-color: #e75b5b;
}
#smallbox{
    position: fixed;
    right: 0%;
    top: 40%;
    height: 200px;
    width: 200px;
    background-color: salmon;
}
#child1{
    height: 2000px;
    width: 100%;
    background-color: #222;
}
#child2{
    height: 2000px;
    width: 100%;
    background-color: #555;
}
h1{
    color: white;
}
#sticky{
    position: sticky;
    top: 10%;
    height: 200px;
    width: 200px;
    background-color: aquamarine;
}