@font-face {
    font-family: google font;
    src: url(./Montserrat-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: google font; */
}
html, body{
    height: 100%;
    width: 100%;
}
#box1{
    height: 200px;
    width: 200px;
    background: linear-gradient(to right,red,green);  /*linear gradient*/
    border-radius: 4px;
}
#box2{
    height: 200px;
    width: 200px;
    background: radial-gradient(yellow,orange,red);   /*radial gradient*/
    border-radius: 50%;
}
#box3{
    height: 200px;
    width: 200px;
    background: conic-gradient(purple,green,red,lightseagreen,salmon,yellow,purple);
    border: 4px solid red;
}
#box4{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 173);
    margin: 5px;
    border: 2px solid black;
}
#box4 h3{
    padding: 30px;
}